<div class="succesMessage" *ngIf="success">
    <div class="wrapp">
        <div class="alert alert-success" role="alert">
            Order Successfully Added to Preparing Section
        </div>
    </div>
</div>
<main>
    <div *ngIf="isLoad;else showTable" class="loader_container">
        <app-spinner></app-spinner>
    </div>
    <ng-template #showTable>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Payment</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr class="data_row" *ngFor="let item of allOrder">
                <td>{{item.order_id}}</td>
                <td>{{item.customer_name}}</td>
                <td>{{item.customer_address}}</td>
                <td>COD</td>
                <td>{{item.item_name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.total}}</td>
                <td class="button_col">
                    <button (click)="showConfirmation(item)">Accept Order</button>
                </td>
            </tr>
        </table>
    </ng-template>
    <div *ngIf="confirmationShown" class="confirmation_container">
        <div class="message_container">
            <div class="close_container">
                <i class="close_logo" (click)="hideConfirmation()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="42" viewBox="0 0 48 42" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42 21C42 29.6985 33.9411 36.75 24 36.75C14.0589 36.75 6 29.6985 6 21C6 12.3015 14.0589 5.25 24 5.25C33.9411 5.25 42 12.3015 42 21ZM15.2474 28.6585C14.8318 28.2948 14.8318 27.7052 15.2474 27.3415L22.4948 21L15.2474 14.6585C14.8318 14.2948 14.8318 13.7052 15.2474 13.3415C15.6631 12.9778 16.3369 12.9778 16.7526 13.3415L24 19.683L31.2474 13.3415C31.6631 12.9778 32.3369 12.9778 32.7526 13.3415C33.1682 13.7052 33.1682 14.2948 32.7526 14.6585L25.5052 21L32.7526 27.3415C33.1682 27.7052 33.1682 28.2948 32.7526 28.6585C32.3369 29.0222 31.6631 29.0222 31.2474 28.6585L24 22.317L16.7526 28.6585C16.3369 29.0222 15.6631 29.0222 15.2474 28.6585Z" fill="#FF3333"/>
                    </svg>
                </i>
            </div>
            <div class="message">
                Do you want to move this order to preparing section? 
            </div>
            <div class="button_container">
                <div class="button" (click)="proceed()">
                    Move
                </div>
            </div>
        </div>
    </div>
</main>


